In [1]:
"""
Word counter.
"""
from collections import Counter
import pandas as pd


def read_file(path):
    with open(path, 'r') as f:
        full_text = f.read()
    return full_text


def clean_text(text):
    for i in range(226):
        text = text.replace("Page {} of 226".format(i), "")
    for character in "?!,.;…“”’:-—":
        text = text.replace(character, " ")
    return text


def remove_unnecessary_words():
    pass


def create_words_counter(text):
    words = text.split()
    low_words = [word.lower() for word in words]
    return Counter(low_words)


def prepare_dictionary_for_data_frame(item_list):
    items = list(item_list)
    words = []
    count = []
    for item in items:
        words.append(item[0])
        count.append(item[1])
    return words, count

In [7]:
PATH = "hpv2_text.txt"
hp_content = read_file(PATH)
cleaned_hp_content = clean_text(hp_content)
counter = create_words_counter(cleaned_hp_content)

words, count = prepare_dictionary_for_data_frame(counter.items())
data = pd.DataFrame({'words': words, 'counter': count})
data = data.sort_values(by=['counter'], ascending=False)
data['length'] = data['words'].apply(len)

#  data[data['length']>3][:50]
data[:50]

         words  counter  length
3          the     3627       3
2          and     1925       3
26          to     1859       2
64          he     1758       2
57           a     1692       1
0        harry     1326       5
19          of     1270       2
55         was     1186       3
118         it     1186       2
33         you     1031       3
5            s     1014       1
42          in      967       2
180        his      936       3
402          i      927       1
50           t      841       1
256       said      794       4
78         had      701       3
29        they      691       4
28        that      688       4
96          on      637       2
200         at      625       2
85          as      525       2
150        him      500       3
110        but      485       3
3202       ron      429       3
52        with      416       4
176        all      396       3
142       what      385       4
125        out      375       3
162         up      371       2
131        for      370       3
925     hagrid      370       6
40          be      366       2
193       them      326       4
104      there      312       5
24        were      306       4
73        have      297       4
38           d      283       1
3419  hermione      271       8
805         we      269       2
251       back      260       4
12         one      256       3
86         she      252       3
151       this      251       4
122         if      245       2
380       from      241       4
88          so      238       2
414        not      237       3
126      about      225       5
322         an      220       2

In [13]:
data.count()

words      5805
counter    5805
length     5805
dtype: int64

In [18]:
data[data['counter'] == 1]

           words  counter  length
4663       katie        1       5
5630     swallow        1       7
5640        type        1       4
5618      safety        1       6
5639      treble        1       6
...          ...      ...     ...
3533  blissfully        1      10
308      weirdos        1       7
3540       upper        1       5
3541     flagged        1       7
5804   spreading        1       9

[2449 rows x 3 columns]