In [37]:
"""
Word counter.
"""
from collections import Counter
import pandas as pd


def read_file(path):
    with open(path, 'r') as f:
        full_text = f.read()
    return full_text


def clean_text(text):
    for i in range(226):
        text = text.replace("Page {} of 226".format(i), "")
    for character in "?!,.;…“”’:-—":
        text = text.replace(character, " ")
    return text


def create_words_counter(text):
    words = text.split()
    low_words = [word.lower() for word in words]
    return Counter(low_words)


# def prepare_dictionary(counter_dictionary):
#     words = []
#     count = []
#     for key in counter_dictionary.keys():
#         words.append(key)
#         count.append(counter_dictionary.get(key, 0))
#     return words, count


def is_palindrom(word: str) -> bool:
    return word == word[::-1]

In [42]:
PATH = "hpv2_text.txt"

hp_content = read_file(PATH)
cleaned_hp_content = clean_text(hp_content)
counter = create_words_counter(cleaned_hp_content)

pd.DataFrame(counter.items(), columns=['words', 'counter'])

          words  counter
0         harry     1326
1        potter      104
2           and     1925
3           the     3627
4      sorcerer       17
...         ...      ...
5800        226        2
5801  mustached        1
5802     manner        1
5803    holiday        1
5804  spreading        1

[5805 rows x 2 columns]

In [44]:
PATH = "hpv2_text.txt"

hp_content = read_file(PATH)
cleaned_hp_content = clean_text(hp_content)
counter = create_words_counter(cleaned_hp_content)


data = (pd.DataFrame(counter.items(), columns=['words', 'counter'])
       .sort_values(by=['counter'], ascending=False)
       .assign(length=data['words'].apply(len))
       .assign(is_palindrom=data['words'].apply(is_palindrom)))


data[data['length']>3][:50]
# data[data['is_palindrom']==True]
# data

           words  counter  length  is_palindrom
0          harry     1326       5         False
256         said      794       4         False
29          they      691       4         False
28          that      688       4         False
52          with      416       4         False
142         what      385       4         False
925       hagrid      370       6         False
193         them      326       4         False
104        there      312       5         False
24          were      306       4         False
73          have      297       4         False
3419    hermione      271       8         False
251         back      260       4         False
151         this      251       4         False
380         from      241       4         False
126        about      225       5         False
189         into      219       4         False
102        their      217       5         False
244         been      211       4         False
389         know      210       4         False
49          didn      199       4         False
120        could      198       5         False
159         like      193       4         False
351         down      182       4         False
767    professor      180       9         False
48          just      180       4         False
160         when      178       4         False
34          very      172       4         False
92          over      171       4         False
3814       snape      171       5         False
407       looked      169       6         False
234         then      165       4         False
727   dumbledore      159      10         False
622         your      149       4         False
237       around      142       6         False
101       dudley      140       6         False
574        going      135       5         False
227    something      132       9         False
3461      malfoy      128       6         False
238         look      128       4         False
401        right      127       5         False
147        never      126       5         False
634      through      125       7         False
119        think      123       5         False
930        uncle      122       5         False
90          time      120       4         False
1239      vernon      116       6         False
3222     neville      116       7         False
225        first      115       5         False
766         here      114       4         False

In [13]:
data.count()

words      5805
counter    5805
length     5805
dtype: int64

In [18]:
data[data['counter'] == 1]

           words  counter  length
4663       katie        1       5
5630     swallow        1       7
5640        type        1       4
5618      safety        1       6
5639      treble        1       6
...          ...      ...     ...
3533  blissfully        1      10
308      weirdos        1       7
3540       upper        1       5
3541     flagged        1       7
5804   spreading        1       9

[2449 rows x 3 columns]